.homepageContainer{
    position: relative;

    box-sizing: border-box;
    width: 80vw;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    overflow:hidden;
    padding: 30px 20px;

    display:grid;
    grid-template-columns: repeat(12,1fr);
    
    background-image: url(../../assets/paper.png);
    background-blend-mode: multiply;
    background-color: $paper_color;
}

