.workpageContainer{
    

    .contentContainer{
        height: 100vh;
    }

    .circle{
        background-color: $text_color;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

}